
* {
    box-sizing: border-box;
}

div {
    display: block;
    font-size:2rem;
    padding: 1rem;
}

nav {
    background-color: pink;
    text-align: center;
}



textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;

    /* background: #FFFFFF;

    width:80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem; 
 */
}

#btn-translate{
     background-color:rgb(143, 184, 138); 

   /*background-color: var(--primary);*/        
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    border-radius: 8px;
}


#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}